body {
    padding: 0;
    margin: 0; 
    background: lightgreen;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcomepage {
    height: 50vh;
    width: 70vw;
    background: white;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 0 15px 5px;
    text-align: center;
}

#welcomepage p {
    font-size: 50px;
}

#welcomepage button {
    padding: 10px;
    font-size: 30px;
    background: rgb(5, 228, 35);
    margin: 25px;
    border-radius: 5px;
}

#game-area {
    height: 50vh;
    width: 70vw;
    background: white;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 0 15px 5px;
    text-align: center;
    display: none;
}

.btn-grid {
    display: grid;
    margin: 30px 0;
    gap: 15px;
}

.btn {
    border: 2px solid black;
    border-radius: 6px;
    padding: 6px 10px;
    color: black;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    color: chartreuse;
}

.btn.wrong {
    color: crimson;
}

#score-area {
    width: 20vw;
    color: black;
    position: absolute;
    bottom: 0;
    left: 40%;
}

