body {
    padding: 0;
    margin: 0; 
    background: lightgreen;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-area {
    height: 50vh;
    width: 70vw;
    background: white;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 0 15px 5px;
    text-align: center;
    display: none;
}

#score-area {
    width: 20vw;
    color: black;
    position: absolute;
    bottom: 0;
    left: 40%;
}

#welcomepage {
    height: 50vh;
    width: 70vw;
    background: white;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 0 15px 5px;
    text-align: center;
}

#welcomepage p {
    font-size: 50px;
}

#welcomepage button {
    padding: 10px;
    font-size: 30px;
    background: rgb(5, 228, 35);
    margin: 25px;
    border-radius: 5px;
}

#questions-box {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 75%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#questions-box p {
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 10px;
    font-size: 25px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button button {
    width: 50%;
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 65%;
}

#answers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

#answers_button {
    width: 40%;
    padding: 15px;
    background: rgb(90, 85, 85);
}

#answers_button.valid {
    border: 5px solid rgb(5, 228, 35);
}

#answers_button.invalid {
    border: 5px solid rgb(240, 8, 8);
} 